name: 'Terraform'

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: portfolioentrada
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.0.0

      - name: Setup Google Credentials
        run: |
          echo '${{ secrets.KEY }}' > creds.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=creds.json" >> $GITHUB_ENV
          echo "PROJECT_ID=portfolioentrada" >> $GITHUB_ENV
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.KEY }}

      - name: Authenticate with Google Cloud
        run: |
          gcloud auth activate-service-account --key-file=creds.json > /dev/null 2>&1
          gcloud config set project ${{ env.PROJECT_ID }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Format
        run: terraform fmt

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false

      - name: Load data to BigQuery
        run: bash load_data.sh
